* {
  font-family: 'Roboto', sans-serif;
}

#page {
  background-color: #F4F4F4;
  flex: 9;
}

.App {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#CSV {
  display: none;
}