.container{
    background:linear-gradient(rgba(179, 228, 193, 0.5),rgba(157, 219, 162, 0.3));
}
.container__col{
    top: 100px; 
    right: 100px;
}
.from_group{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
}

input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
}
.container__btn{
    width: 200px;
    margin: 10px;
    border: 1px solid rgba(250, 246, 246, 0);
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 40px;
    box-shadow: 0 4px 8px 0 rgba(251, 249, 249, 0.2), 0 6px 20px 0 rgba(251, 251, 251, 0.19);
}
.container__signup_btn{
    margin: 20px;
    border: 1px solid rgba(250, 246, 246, 0);
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 50px; 
}
.color__google{
    width: 24px;
    height: 24px;
}
.color__facebook{
    color: #0f77f1;
}
.error_message{
    padding: 3px;
    color: red !important;
    display: none;
}
input:invalid[focused="true"] ~span{
    display: block;
}
input:invalid[focused="true"]{
    border: 1px solid red;
    
}